@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  [type='text'],
  [type='email'],
  [type='url'],
  [type='password'],
  [type='number'],
  [type='date'],
  [type='datetime-local'],
  [type='month'],
  [type='search'],
  [type='tel'],
  [type='time'],
  [type='week'],
  [multiple],
  textarea,
  select {
    @apply w-full placeholder-gray-400 border-gray-300 bg-gray-100 rounded-lg shadow-sm text-gray-700 py-1 focus:border-teal-500 focus:ring-2 focus:ring-teal-400;
  }

  [type='checkbox'],
  [type='radio'] {
    @apply rounded border-gray-300 text-teal-400 focus:ring-teal-500;
  }
}

body {
  /* position: relative; */
  height: 100vh;
  /* overflow-y: hidden; */
  background-color: white;
  /* display: flex;
  justify-content: center;
  align-items: center; */
}

.full-screen {
  max-height: calc(100vh - 50px);
  /* height: calc(100vh - 160px); */
}

path.react-flow__edge-path:hover {
  stroke-width: 3;
  /* stroke: #b5f3fc; */
  cursor: pointer;
}

/*
button {
  background-color: white;
  padding: 10px 20px;
  border-radius: 10px;
  border: none;
  appearance: none;
  font-size: 1.3rem;
  box-shadow: 0px 8px 28px -6px rgba(24, 39, 75, 0.12),
    0px 18px 88px -4px rgba(24, 39, 75, 0.14);
  transition: transform ease-in 0.1s;
  cursor: pointer;
}

button:hover {
  transform: scale(1.05);
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  height: fit-content;
  width: fit-content;
  margin: 10px;
}

a:hover {
  opacity: 1;
  text-decoration: none;
}

.Hello {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
} */

.dndflow {
  flex-direction: column;
  display: flex;
  height: 100%;
}

.dndflow aside {
  border-right: 1px solid #eee;
  padding: 15px 10px;
  font-size: 12px;
  background: #fcfcfc;
}

.dndflow aside .description {
  margin-bottom: 10px;
}

.dndflow .dndnode {
  height: 20px;
  padding: 4px;
  border: 1px solid #1a192b;
  border-radius: 2px;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: grab;
}

.dndflow .dndnode.input {
  border-color: #0041d0;
}

.dndflow .dndnode.output {
  border-color: #ff0072;
}

.dndflow .reactflow-wrapper {
  flex-grow: 1;
  height: 100%;
}

@media screen and (min-width: 768px) {
  .dndflow {
    flex-direction: row;
  }

  .dndflow aside {
    width: 20%;
    max-width: 250px;
  }
}

/*
  This bunch of css is from the react-flow examples src

.overview-example__add {
  display: none;
}

.react-flow__node a {
  font-weight: 700;
  color: #111;
}

.react-flow__node.dark-node {
  background: #0041d0;
  color: #f8f8f8;
}

.react-flow__node.dark {
  background: #557;
  color: #f8f8f8;
}

.react-flow__node-selectorNode {
  font-size: 12px;
  background: #f0f2f3;
  border: 1px solid 555;
  padding: 8px;
  border-radius: 5px;
  text-align: center;
}

.react-flow__node-selectorNode .react-flow__handle {
  border-color: #f0f2f3;
} */
